# API Configuration
VITE_API_URL=http://localhost:5000/api

# Stripe Public Key (optional - for payments)
VITE_STRIPE_PUBLIC_KEY=pk_test_51T9uRhCjlMqWW9U1QwX7icUUsWf95jT6lwmnZl4xrD9jDmC2mjOHdEMd3297cfWzNmH1cP8V9ilD7y9h0uZmNINK00iveTSD54
